* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.error-container {
    max-width: 600px;
    padding: 40px;
}

h1 {
    font-size: 4rem;
    color: #e50914;
    /* màu đỏ Netflix */
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ccc;
}

a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

a:hover {
    background-color: #f40612;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #e50914;
    margin-bottom: 40px;
}