/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("/background/login_background.jpg") no-repeat center center/cover;
    color: #fff;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.login-box {
    position: relative;
    z-index: 1;
    width: 320px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 8px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo span {
    font-size: 28px;
    font-weight: bold;
    color: #e50914;
    letter-spacing: 1px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-group {
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.input-group input:focus {
    outline: 2px solid #e50914;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #f40612;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #b3b3b3;
    margin: 12px 0;
}

.options>a {
    color: white;

}

.signup {
    margin-top: 30px;
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
}

.signup a {
    color: #fff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

#error {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

#error.success {
    color: #28a745;
    /* xanh lá */
}

#error.error {
    color: #e50914;
    /* đỏ */
}