<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>Quên mật khẩu - Netflix</title>
  <link rel="stylesheet" href="../css/forgot_password.css">
</head>

<body>
  <div class="container">
    <div class="logo">PTIT CINEMA</div>
    <h2>Quên mật khẩu?</h2>
    <p>Nhập email của bạn và chúng tôi sẽ gửi liên kết đặt lại mật khẩu.</p>
    <form id="forgotForm">
      <input type="email" id="emailInput" name="email" placeholder="Email của bạn" required>
      <span id="message" class="message"></span> <!-- hiển thị thông báo -->
      <button type="submit">Gửi liên kết</button>
    </form>

    <a href="login" class="back">Quay lại đăng nhập</a>
  </div>

  <script src="../js/forgot_password.js"></script>
</body>
</html>
